.cards {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
}

.card {
    max-width: 300px;
    margin: 0 10px 20px 0;
    height: 350px;
    background-color: rgb(230, 230, 230);
    transition: height 0.4s ease-in-out;
    border-radius: 5%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_img {
    margin-top: 10px;
    height: auto;
    max-width: 250px;
    align-self: center;
    border-radius: 5%;
}

.card:hover {
    height: 375px;
    background-color: rgb(201, 200, 200);
}